<footer>
    <p>&copy;2025 Alana. All rights reserved.</p>
</footer>

<style>
    footer{
        background-color: rgb(177, 247, 223);
        text-align: center;
        padding: 1.2rem;
        z-index: 1;
    }
</style>