---
import "@fortawesome/fontawesome-free/css/all.min.css";
---

<header>
    <div class="logo">
        <i class="fa-solid fa-seedling"></i>
        <span>Sprout</span>
    </div>
    <li><a href="/">Home</a></li>
    <li><a href="/daily">Daily Record</a></li>
    <a class="profile-btn" href="/profile">Profile</a>
    <a class="login" href="/login">Log In</a>
    <a class="logout" href="/">Log Out</a>
</header>

<script>
    const profileBtn = document.querySelector('.profile-btn') as HTMLElement
    const loginBtn = document.querySelector('.login') as HTMLElement
    const logoutBtn = document.querySelector('.logout') as HTMLElement

    const getData = async () => {
        const res = await fetch(`http://localhost:4000/check-auth`, {
            method: "get",
            credentials: "include",
        });
        if (res.ok) {
            profileBtn.style.display = 'block';
            logoutBtn.style.display = 'block';
            loginBtn.style.display = 'none';
        }
    };
    getData()
    const logout = document.querySelector('.logout') as HTMLElement
    logout.addEventListener('click', async ()=>{
        const res = await fetch('http://localhost:4000/logout',{
            method: 'get',
            credentials: 'include'
        })
        alert('Log out, see you~')
        window.location.href='/'
    })
</script>

<style>
    .logout, .profile-btn {
       display: none; 
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(177, 247, 223);
        list-style: none;
        padding: 2rem;
        position: sticky;
        top:0;
        z-index:99
    }
    .logo{
        font-size: 1.5rem;
        color: orange;
    }
    a{
        text-decoration: none; 
        color: inherit;
        font-weight: 600;
        font-size: 1.2rem;
x    }
    a:hover, .fa-solid:hover{
        color: rgb(47, 79, 79);
        cursor: pointer;
    }
    .search{
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:5px
    }
    .fa-solid:hover{
        font-weight: 1000;
    }
    input{
        border: none;
        outline: none;  /* 移除點擊時的外框 */
        border-radius: 10px;
        height: 1.2rem;
        background-color: rgba(209, 247, 234, 0.5);
        padding-left: 20px;
    }
    span{
        font-weight:800;
    }
</style>
